@charset "UTF-8";

body {
    background-color: rgb(60, 216, 131);
    margin: 0px;
}
header {
    padding: 10px;
    background-image: linear-gradient(to bottom,rgb(60, 216, 131),rgb(15, 53, 32));
}    
main{
    padding: 20px;
    width: 90px;
    margin: auto;
    background-color: white;
}
p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
iframe{
    background-color: rgb(2, 68, 2);
    padding: 20px;
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 90%;
}
picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
